body {
    font-family: Arial, sans-serif;
}

#admin-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#admin-container h2 {
    text-align: center;
}

#login-container, #notices-management {
    text-align: center;
}

#login-container input, #notices-management input {
    margin: 10px 0;
    padding: 10px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#login-container button, #notices-management button {
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

#admin-notices-list {
    list-style-type: none;
    padding: 0;
}

#admin-notices-list li {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 .logo-container {
            position: relative;
            display: inline-block;
        }
        .logo-container img {
            display: block;
            max-width: 100%;
        }
        .logo-container button {
            position: absolute;
            top: 50%;
            left: 25%;
            transform: translate(-50%, -50%);
            display: none;
            padding: 10px;
            background-color: rgba(0,0,0,0.5);
            color: white;
            border: none;
            cursor: pointer;
        }
        .logo-container:hover button {
            display: block;
        }
        #status {
            margin-top: 10px;
        }
